<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #container{
      border : 1px solid #e9e9e9;
    }
    b{
      padding-top: 15px;
      display: block;
      height: 20px;
      text-align: center;
    }
    p{
      text-align: center;
    }
    #inputPassword{
      height: 80px;
      line-height: 80px;
      text-align: center;
      border: 1px solid #e9e9e9;
      background-color: #fafafa;
    }
  </style>
</head>
<body>
<div id="container">
<b>본인확인</b>
<p>사용자님의 소중한 개인정보보호를 위해서 본인확인을 진행합니다</p>
  <div id="inputPassword">
<form th:action="@{/user/setting}" method="post">
  <label >현재 비밀번호 : </label>
  <input type="password" id="checkPassword" name="password" required>
  <button type="submit">확인</button>
</form>
<p th:if="${error}"th:text="${error}"></p>
    <div>
</div>
</body>
</html>