<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<link rel="stylesheet" href="../css/navfooter.css"></link>
<head>
    <meta charset="UTF-8">
    <title>프로필</title>

</head>
<body>
<div th:replace="~{topnav.html}"></div>
<div class="content">
    <form th:action="@{/user/editprofile}" method="post" th:object="${user}">
        <table>
            <tbody>
            <tr>
                <th scope="row">닉네임</th>
                <td><input type="text" class="text" th:field="*{nickname}" required></td>
            </tr>
            <tr>
                <th scope="row">자기소개</th>
                <td><input type="text" class="text" th:field="*{comment}" required></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">수정</button>
    </form>
</div>
<div th:replace="~{footer.html}"></div>
</body>
</html>
