<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/loginStyle.css">
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

</head>
<body>
    <div class="section">
        <div class="inner">
            <div class="main">
                <div class="main-header">
                    <img src="" alt="">
                </div>
                <div class="main-body">
                    <div class="email-container">
                        <div class="email">
                            <div class="email-container">
                                <p>이메일</p>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="password-container">
                        <div class="password">
                            <p>비밀번호</p>
                            <input type="text">
                        </div>
                    </div>
                    <div class="login-btn-container">
                        <div class="login-btn">
                            <button>로그인</button>
                    </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="find-email">
                        <a href="">아이디(이메일) 찾기</a>
                    </div>
                    <div class="c1"></div>
                    <div class="find-password">
                        <a href="">비밀번호 찾기</a>
                    </div>
                    <div class="c2"></div>
                    <div class="find-join">
                        <a href="">회원가입</a>
                    </div>
                </div>
                <div class="quick">
                    <div class="l1"></div>
                    <div class="quick-title">간편로그인</div>
                    <div class="l2"></div>
                </div>
                <div class="icon-container">
                    <div class="quick-login">
                        카카오톡 간편 로그인
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>