<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>찜한 게시글</title>
    <style>
        .post {
            border: 1px solid #ccc;
            padding: 16px;
            margin: 8px 0;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<h1>내가 찜한 게시글</h1>
<div th:each="post : ${likesPosts}" class="post">
    <img th:src="@{|/uploads/${post.photoUrl}|}" alt="" style="width: 250px; height: 250px;">
    <div th:text="${post.title}">게시글 제목</div>
    <div th:text="${post.content}">게시글 내용</div>
    <div class="post-info">활동 지역: <span th:text="${post.roadAddress}">지역</span></div>
    <div class="post-info">상세주소: <span th:text="${post.detailAddress}">상세주소</span></div>
    <div class="post-info">분야: <span th:text="${post.tag}">분야</span></div>
</div>
</body>
</html>
