<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<link rel="stylesheet" href="../css/navfooter.css"></link>
<head>
    <meta charset="UTF-8">
    <title>프로필</title>

</head>
<body>
<div th:replace="~{topnav.html}"></div>
<div class="content">
    <p>프로필 사진</p>
    <div class="page_title">
        <img th:src="@{|/uploads/${user.photoUrl}|}" alt="Post Image" style="max-width: 50%; height: auto;">
    </div>
    <table>
<!--        프로필 이미지 나중에 넣어야함-->
        <tbody>
        <tr>
            <th scope="row">닉네임</th>
            <td th:text="${user.nickname}"></td>
        </tr>
        <tr>
            <th scope="row">성별</th>
            <td th:text="${user.gender}"></td>
        </tr>
        <tr>
            <th scope="row">자기 소개</th>
            <td th:text="${user.comment}"></td>
        </tr>
        <tr>
            <th scope="row">지역</th>
            <td th:text="${user.area}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/user/editprofile">프로필 수정</a>
</div>
<div th:replace="~{footer.html}"></div>
</body>
</html>