<!-- footer.html -->
<footer>
    <div class="footer-container">
        <div class="footer-box1">
            <p>6조 다모아 모임 홈페이지</p>
            <p>BackEnd : 백진규, 문지훈, 전덕수</p>
            <p>Front : 윤상수, 박민기</p>
            <p>주소: 대구 북구 복현로 35(영진 전문대학교)</p>
            <p>전화: 053-940-5555 | 고객문의: yeungjin@g.yju.ac.kr</p>
            <p>호스팅 사업자: Amazon Web Service(AWS)</p>
        </div>

        <div class="footer-box2">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">운영정책</a>
            <a href="#">위치기반서비스 이용약관</a>
            <a href="#">이용자보호 비전과 계획</a>
            <a href="#">청소년보호정책</a>
        </div>
    </div>
</footer>
