<!-- footer.html -->
<footer>
    <div class="footer-container">
        <div class="footer-box1">
            <p>직업정보제공사업 신고번호 J1200002200016</p>
            <p>통신판매업 신고번호 2021-서울서초-2875</p>
            <p>호스팅 사업자: Amazon Web Service(AWS)</p>
            <p>주소: 서울특별시 구로구 디지털로 300, 10층 (닥터서비스)</p>
            <p>전화: 1544-9796 | 고객문의: <a href="mailto:cs@daangsservice.com">cs@daangsservice.com</a></p>
        </div>
        <div class="footer-box2">
            <a href="#">제휴 문의</a>
            <a href="#">광고 문의</a>
            <a href="#">PR 문의</a>
            <a href="#">IR 문의</a>
        </div>
        <div class="footer-box3">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">운영정책</a>
            <a href="#">위치기반서비스 이용약관</a>
            <a href="#">이용자보호 비전과 계획</a>
            <a href="#">청소년보호정책</a>
        </div>
    </div>
</footer>
