<!-- top-nav.html -->
<div class="top-nav">
    <div class="top-nav-box1">
        <a href="post/main" class="top-nav">모임 찾기</a>
        <a href="chat" class="top-nav">채팅하기</a>
        <a href="calendar/main" class="top-nav">캘린더</a>
    </div>
    <div class="top-nav-box2">
        <div class="search-container">
            <input type="text" name="search" placeholder="모임이나 동네를 검색해보세요..">
        </div>
        <a href="/user/login">로그인</a>
        <div class="profile-icon"></div>
    </div>
</div>
