<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="null"></div>
<div class="top-nav-wrap">
    <div class="top-nav-bar">
        <div class="top-nav-box1">
            <a href="/"><img th:src="@{/uploads/logo2.png}" style="width: 150px; height: 40px;"  alt=""></a>
            <div class="top-nav-content">
                <a href="/post/main" class="top-nav">모임 찾기</a>
                <a href="/chat" class="top-nav">채팅하기</a>
                <a href="/calendar/main" class="top-nav">캘린더</a>
                <th:block th:if="${userId == null}">
                    <a href="/user/login">마이페이지</a>
                </th:block>
                <th:block th:if="${userId != null}">
                    <a href="/user/mypage">마이페이지</a>
                </th:block>
            </div>
            <span class="search-icon hidden" onClick="clickIcon()"><i class="fas fa-search"></i></span>
            <th:block th:if="${userId == null}">
                <a href="/user/login" class="login-btn">로그인</a>
                <!--            <div class="profile-icon"></div>-->
            </th:block>
            <th:block th:if="${userId != null}">
                <a href="/user/myprofile" class="top-nav-profile">
                    <img th:src="@{|/uploads/${logInUser.photoUrl}|}" style="width: 40px; height: 40px" alt="">
                    <div th:text="${logInUser.nickname}"></div>
                </a>
                <a href="/user/logout" class="login-btn">로그아웃</a>
            </th:block>
        </div>
        <div class="top-nav-box2">
            <div class="search-container">
                <input type="text" id="search" name="search" placeholder="모임이나 동네를 검색해보세요..">
                <a href="javascript:void(0);" onclick="searchPost()"><i class="fas fa-search"></i></a>
            </div>


        </div>

    </div>
</div>



<script>
    function searchPost() {
        var searchValue = document.getElementById('search').value;
        if (searchValue) {
            var searchUrl = '/post/main?search=' + encodeURIComponent(searchValue);
            window.location.href = searchUrl; // 또는 다른 방법으로 처리 가능
        }
    }

    window.addEventListener("scroll" , function (){
        const nav2 = document.querySelector(".top-nav-box2");
        const icon = document.querySelector(".search-icon");
        const scrollY = window.scrollY;

        if (scrollY > 50) {
            nav2.classList.add("hidden");
            icon.classList.remove("hidden");
        } else{
            nav2.classList.remove("hidden");
            icon.classList.add("hidden");
        }
    });


    function clickIcon(){
        const icon = document.querySelector(".search-icon");
        const nav2 = document.querySelector(".top-nav-box2");


        nav2.classList.toggle("hidden");

    }


</script>
